.chat-open-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #e72526;
  color: white;
  border: none;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  font-size: 1.2em;
  cursor: pointer;
  z-index: 1000;
}
.chat-widget-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #222;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  color: white;
}