body {
    background-color: rgb(0, 0, 0);
    color: rgba(231, 37, 38);
    text-align: center;
}

h1, h2 {
    color: rgba(231, 37, 38);
}

nav a {
    color:  rgba(231, 37, 38);
    text-decoration: none;
    text-decoration: none;
    background-color: #333;     
    border-radius: 8px;          
    padding: 10px 15px;          
    display: inline-block;       
    margin: 8px; 
}

.all-addons-box {
    background: #4b4b4b;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    text-align: center;
}

nav a:hover {
    background-color: rgba(231, 37, 38);
    color: #333;
}