body {
    background-color: rgb(0, 0, 0);
}

h2, h1 {
    text-align: center;
}

input {
    background-color: #282828;
    color: #fff;
    border: 1px solid #555;
    border-radius: 8px;
}

input:focus {
    outline: 2px solid rgba(231, 37, 38);
    box-shadow: 0 0 5px rgba(231, 37, 38, 0.5);
}

form label,
form input,
form button {
    display: block;
    margin: 8px auto 4px auto;
    width: 250px;
}

input[type="send"], button {
    background-color: #282828;
    color: rgb(221, 221, 221);
    border: none;
    border-radius: 8px;  /* <-- pixel value gives smooth curve */
}

button:hover {
    background-color: rgba(231, 37, 38);
}

footer {
    color:  rgba(231, 37, 38);
    text-align: center;
}

.text-red {
    color: rgba(231, 37, 38) !important;
}

header, footer {
    background: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 32px 0;
}

@media (max-width: 600px) {
  body {
    padding: 0 6px;
    font-size: 1em;
  }

  main {
    padding: 12px 0;
  }

  h1, h2 {
    font-size: 1.2em;
    margin: 10px 0;
  }

  form label,
  form input,
  form button {
    width: 95vw;
    max-width: 320px;
    font-size: 1em;
    margin: 10px auto;
  }

  input, button {
    padding: 12px 8px;
    font-size: 1em;
  }

  footer {
    font-size: 1em;
    padding: 12px 0;
  }

  img {
    max-width: 90vw;
    height: auto;
    margin: 0 auto 12px auto;
    display: block;
  }
}

